<!DOCTYPE html>
<html>
<head>
  <title>Barr Restoration, LLC <%= if title = yield(:title); "#{title}"; end %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>


</head>

<script type="text/javascript">
	$(document).ready(function() {
			$('#showcase')
			            .cycle({
			                fx: 'scrollHorz',  // Effects: http://jquery.malsup.com/cycle/browser.html
			                timeout: 5000,
			                next: '#slideshow_next',
			                prev: '#slideshow_previous',
			                pause: 1

			            });
		
		
			var activeMenuItem = $("#menu-home").attr('id');
			$("#menu-home").animate({width:'190px'},{queue:false,duration:0});
			
			$("#main-menu li").each(function() {
			  if(window.location.href != "<%=root_url%>"){	
			  	if($(this).children('a').attr('href') == window.location.pathname) {
			    	
				 	$(this).animate({width:'190px'},{queue:false,duration:0});
						
					activeMenuItem =  $(this).attr('id');
						
			   	}
			   	else{
					$(this).animate({width:'145px'},{queue:false,duration:0});
					}
				}
			});
	   // do stuff when DOM is ready
			var cssObj = {
			      'background-color' : '#ddd',
			      'font-weight' : '',
			      'color' : 'rgb(0,40,244)'
			    }
			$(".menu").hover(function(){
					if($(this).attr('id') != activeMenuItem)
					
					{
				$(this).animate({width:'165px'},{queue:false,duration:500});
			}
							},
							function(){
								
								if($(this).attr('id') != activeMenuItem)
								
								{
									$(this).animate({width:'145px'},{queue:false,duration:500});
								}						
					
				});
				
				
				
				
			
			
			
			
			
			
		
	 });
	
	
</script>

<body>
	<div id="body-container">
		<div id="header-main-container">
			<div id="header">
				<div id="logo">
					<%= link_to image_tag('/images/barr_logo240.png'), root_url %>
				</div> <!-- end div id="logo" -->
				<!-- :mouseover => '/images/home-hover.png'-->
				<ul id="main-menu">
					<li class="menu" id="menu-home"><%= link_to 'Home',root_url %></li>
					<li class="menu" id="menu-expert"><%= link_to 'Expertise', expertise_index_path, :class=>'menu-text' %></li>
					<li class="menu" id="menu-about"><%= link_to 'About', about_index_path %></li>
					<li class="menu" id="menu-contact"><%= link_to 'Contact', contact_index_path %></li>
				</ul> <!-- end ul id="main-menu" class="level-1" -->
			</div> <!-- end div id="header" -->
			<div id="main">
				<div id="showcase">
					<%= image_tag '/images/slideshow-1.jpg' %>
					<%= image_tag '/images/slideshow-4.jpg' %>
					<%= image_tag '/images/slideshow-7.jpg' %>
					<%= image_tag '/images/slideshow-5.jpg' %>
					<%= image_tag '/images/slideshow-6.jpg' %>
			</div> <!-- end div id="showcase" -->
					<%= yield %>
			</div> <!-- div id="main" -->
		</div> <!-- end div id="header-main-container" -->
		

	</div> <!-- end div id="body-container" -->
	<div id="footer-container">
		<p class="copy">Barr Restoration, Inc. | 1547 Pine Needles Ln, Lexington, KY 40513-1503| 2012 © Ellen Guinnip</p>
	</div>
	
</body>
</html>
