<!DOCTYPE html>
<html>
<head>
  <title>Barr Restoration, LLC <%= if title = yield(:title); "#{title}"; end %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>


</head>

<script type="text/javascript">
	$(document).ready(function() {
			$("#menuHome").addClass("selected");
			
			$("#main-menu li").each(function() {
			  if(window.location.href != "<%=root_url%>"){	
			  	if($(this).children('a').attr('href') == window.location.pathname) {
			    	
				 	$(this).addClass("selected");
			   	}
			   	else{
					$(this).removeClass("selected");
					}
				}
			});
	   // do stuff when DOM is ready
			var cssObj = {
			      'background-color' : '#ddd',
			      'font-weight' : '',
			      'color' : 'rgb(0,40,244)'
			    }
			$(".menu").mouseover(function(){
				
				/*$(this).css("cssObj");*/
				$(this).addClass("active");
			});
			
			$(".menu").mouseout(function(){
				
				/*$(this).css("cssObj");*/
				$(this).removeClass("active");
			});
			
		
	 });
	
	
</script>

<body>
	<div id="body-container">
		<header>
			<div class="container">
				<div id="logo">
					<%= link_to image_tag('/images/logo.png'), root_url %>
				</div> <!-- end div id="logo" -->
				<nav id="main-menu-container" class="menu-container">
					<ul id="main-menu">
						<li id="menuHome" class="menu home"><%= link_to 'home', root_url %></li>
						<li id="menuExpertise"class="menu expertise"><%= link_to 'expertise', expertise_index_path %></li>
						<li id="menuAbout"class="menu about"><%= link_to 'about', about_index_path %></li>
						<li id="menuContact" class="menu contact"><%= link_to 'contact', contact_index_path %></li>
					</ul> <!-- end ul id="main-menu" class="level-1" -->
				</nav> <!-- nav id="main-menu-container" class="menu-container" -- >
			</div> <!-- end div class="container" -->
		</header>
		<%= yield %>
	</div> <!-- end div id="body-container" -->
</body>
</html>
