<!DOCTYPE html>
<html>
<head>
  <title>Barr Restoration, LLC <%= if title = yield(:title); "#{title}"; end %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>


</head>

<script type="text/javascript">
	$(document).ready(function() {
			$("#menuHome").addClass("selected");
			
			$("#main-menu li").each(function() {
			  if(window.location.href != "<%=root_url%>"){	
			  	if($(this).children('a').attr('href') == window.location.pathname) {
			    	
				 	$(this).addClass("selected");
			   	}
			   	else{
					$(this).removeClass("selected");
					}
				}
			});
	   // do stuff when DOM is ready
			var cssObj = {
			      'background-color' : '#ddd',
			      'font-weight' : '',
			      'color' : 'rgb(0,40,244)'
			    }
			$(".menu").mouseover(function(){
				
				/*$(this).css("cssObj");*/
				$(this).addClass("active");
			});
			
			$(".menu").mouseout(function(){
				
				/*$(this).css("cssObj");*/
				$(this).removeClass("active");
			});
			
		
	 });
	
	
</script>

<body>
	<div id="body-container">
			<div id="header">
				<div id="logo">
					<%= link_to image_tag('/images/logo.png'), root_url %>
				</div> <!-- end div id="logo" -->
				<ul id="main-menu">
					<li><%= link_to image_tag('/images/home.png', :mouseover => '/images/home-hover.png'), root_url %></li>
					<li><%= link_to image_tag('/images/expertise.png', :mouseover => '/images/expertise-hover.png'), expertise_index_path %></li>
					<li><%= link_to image_tag('/images/aboutus.png', :mouseover => '/images/aboutus-hover.png'), about_index_path %></li>
					<li><%= link_to image_tag('/images/contactus.png', :mouseover => '/images/contactus-hover.png'), contact_index_path %></li>
				</ul> <!-- end ul id="main-menu" class="level-1" -->
			</div> <!-- end div id="header" -->
		<div id="main">
			<div id="showcase">
					slideshow
			</div> <!-- end div id="showcase" -->
					<%= yield %>
		</div> <!-- div id="main" -->
	</div> <!-- end div id="body-container" -->
</body>
</html>
